<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spx.mediaplayertest">

    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.spx.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.spx.surfaceview.SurfaceViewActivity" />
        <activity android:name="com.spx.glsurfaceview.GLSurfaceViewTestActivity" />
        <activity android:name="com.spx.glsurfaceview.CubeFlingActivity" />
        <activity android:name="com.spx.camera.CameraActivity" />
        <activity android:name="com.spx.camera.recorder.VideoRecorderActivity"></activity>
        <activity android:name="sandy.android.com.opengl_glsurfaceview_impl.OpenGlWithGlSurfaceViewActivity"></activity>
        <activity android:name="sandy.android.com.opengl_egl_impl.EglImpl1Activity"></activity>
    </application>

</manifest>